.desktop {
  width: 100%;
  height: calc(100vh - 32px);
  margin-top: 32px;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.desktop.panning {
  cursor: move;
}

.desktop.selectionMode {
  cursor: crosshair;
}

.canvasWrapper {
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transition: none;
  position: relative;
  will-change: transform;
}

.canvasGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 50000px;
  height: 50000px;
  background-color: rgba(30, 30, 30, 1);
  pointer-events: none;
}

:global(body.light-mode) .canvasGrid {
  background-color: rgba(245, 245, 245, 1);
}
